body{
    margin: 0;
    color: #222;
}
.container {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
}
.CGV-Reservation{
    width: 1230px;
    border: 5px solid tomato;
    box-shadow: 0 0 30 rgba(0,0,0, 0.5);
    border-radius: 20px;
    /* 테두리가 있을경우 박스사이징을 쓰게되면 컨텐츠 보더 테두리의 크기까지
    조정할 수 있기 때문에 크기가 정확하게 들어간다.
    요소들을 크기대로 나눴는데 크기가 테두리까지 계산해서 해야할때 박스 사이징 */
    box-sizing: border-box;
    padding: 30px 30px;
}
.movie-header{
    font-size: 30px;
    padding-left:  0px;
}
.movie-inner {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 50px;
}
.name{
    font-size: 20px;
    cursor: pointer;
}
.name span{
    display: block;
    color: skyblue;
}
.movie:hover .name{
    color: red;
}
/* 테블릿 */
@media (min-width: 768px) and (max-width:1024px){
    .container{
        align-items: start;
    }
    .CGV-Reservation{
        width: 100%;
        border-radius: none;
        box-shadow: none;
    }
    .movie-inner{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 767px){
    .container{
        align-items: start;
    }
    .CGV-Reservation{
        width: 100%;
        border-radius: none;
        box-shadow: none;
    }
    .movie-inner{
        grid-template-columns: repeat(1,1fr);
    }
}